
@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-foreground: #ededed;
}

:root {
  --background: #020617;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

@keyframes attack-flow {
  0% {
    stroke-dashoffset: 1; /* Start completely hidden (offset by full length) */
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0; /* End at destination */
    opacity: 0;
  }
}

.attack-missile {
    pointer-events: none;
    fill: none;
    stroke-dasharray: 0.3 1; /* 30% length missile, 1 length gap */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

@keyframes pulse-ring {
  0% { transform: scale(0.33); }
  80%, 100% { opacity: 0; }
}

@keyframes scan {
  0% { top: 0%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

.animate-scan {
  animation: scan 2s linear infinite;
}

.map-marker-pulse {
  position: relative;
}
.map-marker-pulse::before {
  content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: #01a4e9;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

